CODE_CHALLENGE=<numero aleatório>
CLIENT_ID=<idCliente>
CLIENT_SECRET=<Segredo do Cliente>
REDIRECT_URI=<Uri de redirecionamento> -> para o codigo funcionar essa variável precisa ser: http://localhost:3001/user
