CODE_CHALLENGE=<numero aleatório>
CLIENT_ID=<idCliente>
CLIENT_SECRET=<Segredo do Cliente>
REDIRECT_URI=<Uri de redirecionamento> // http://localhost:3001/auth (precisa ser essa para o codigo funcionar)
