<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>OAuth2 Project</title>
</head>
<body>
    <h2>OAuth2 Project API</h2>
    <br>
    <form method="POST" action="/login">  
        <input type="submit"/>  
      </form> 
</body>
</html>