<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>OAuth2 Project</title>
</head>
<body>
    <h2>OAuth2 Project API</h2>
    <br>
    <form method="POST" action="https://twitter.com/i/oauth2/authorize?response_type=code&client_id=dm5oZ0ZMTVNZeDJsQW8zUUhOeGY6MTpjaQ&redirect_uri=http://localhost:3001/auth&scope=tweet.read%20users.read%20follows.read%20offline.access&state=spe4pnsl319&code_challenge=6sri5noetf7&code_challenge_method=plain">  
        <input type="submit"/>  
      </form> 
</body>
</html>