<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <h3>User</h3>
    <% user %>
    <h3>Followers</h3>
    <ul>
        <% for(var i=0; i<followers.length; i++) {%>
            <li>
                Nome: <%= followers[i].name %>
            </li>
        <% } %>
    </ul>
    <h3>Following</h3>
    <ul>
        <% for(var i=0; i<following.length; i++) {%>
            <li>
                Nome: <%= following[i].name %>
            </li>
        <% } %>
    </ul>
    <form method="POST" action="/revoke">  
        Logout <input type="submit"/>  
    </form>
</body>
</html>